
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
templates/reservation/test.html.twig
src/Controller/Admin/DashboardController.php
config/routes/easy_admin.yaml
config/packages/easy_admin.yaml
config/bundles.php
symfony.lock
composer.lock
composer.json
